version: '3'
services:
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"

  app:
    image: memorizer_app:latest
    tty: true
    stdin_open: true
    volumes:
      - sync-volume:/myapp
      - node-data:/myapp/node_modules
      - bundle-data:/myapp/vendor/bundle
    ports:
      - "3000:3000"
      - "3035:3035" # webpack dev server
    depends_on:
      - db
      - redis
    environment:
      REDIS_URL: redis://redis:6379
      SELENIUM_DRIVER_URL: http://selenium_chrome:4444/wd/hub
    networks:
      default:
        aliases:
          - app.local # rspec appが予約語のため

  sidekiq:
    image: memorizer_app:latest
    # command: bundle exec sidekiq
    command: tail -f /dev/null
    environment:
      # RAILS_ENV: development
      REDIS_URL: redis://redis:6379 # config/initializers/sidekiq.rb
    volumes:
      - sync-volume:/myapp
      - node-data:/myapp/node_modules
      - bundle-data:/myapp/vendor/bundle
    depends_on:
      - db
      - app
      - redis

  redis:
    image: redis:5.0.9-alpine
    command: redis-server
    volumes:
      - redis-data:/data
    ports:
      - 6379
    logging:
      driver: none

  web:
    build:
      context: containers/nginx
    volumes:
      - sync-volume:/myapp
    ports:
      - 80:80
    depends_on:
      - app

  selenium_chrome:
    image: selenium/standalone-chrome-debug
    shm_size: 2g
    logging:
      driver: none

volumes:
  db-data:
  node-data:
  bundle-data:
  redis-data:
  sync-volume:
    external: true
