.header-right {
  float: right;
  line-height: 52px;
  &__list {
    float: left;
    margin-left: 15px;
    // a {
    //   color: white;
    //   &:visited {
    //     color: white;
    //   }
    // }
  }
  &__toggler {
    &--community {
      padding: 0 36px;
    }
    &--user {
      font-size: 14px;
    }
  }
}