@import 'BEM/mixin';

.header-right {
  float: right;
  line-height: 52px;
  &__list {
    float: left;
    margin-left: 5px;
    position: relative;
  }
  &__envelope {
    @include header-btn;
    padding-left: 15px;
    text-decoration: none;
    i {
      margin-right: 2px;
    }
  }
  &__new-link {
    @include header-btn;
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 12px;
  }
  &__toggler {
    &--community {
      @include header-btn;
      padding-left: 15px;
    }
    &--user {
      font-size: 14px;
      text-decoration: none;
      @include header-btn;
    }
  }
  &__guest-link {
    @include header-btn;
    text-decoration: none;
  }
  .fa-caret-down {
    margin-left: 3px;
  }
}
.community-menu {
  @include header-drop;
  left: -24px;
}
.user-menu {
  @include header-drop;
  left: 0;
  right: 0;
  margin: auto;
}
