@import 'BEM/mixin';

.header {
  height: 52px;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0 , 0.3);
  position: fixed;
  z-index: 2;
  background-color: #FFF;
  // background-color: $theme-color;
}
