.later-list-container {
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 4;
  height: 420px;
  width: 330px;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
