@import 'application';
@mixin white-box {
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

@mixin text-field {
  padding: 5px 7px;
  border-radius: 4px;
  border: 1px solid #aaa;
  font-size: 14px;
}

@mixin submit-btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px $theme-color;
  border-right: solid 4px $theme-color;
  color: $theme-color;
  background: #e1f3ff;
  transition: .4s;
  cursor: pointer;
  font-size: 14px;
  &:hover {
    background: $theme-color;
    color: #FFF;
    cursor: pointer;
  }
}

@mixin destroy-btn {
  @include submit-btn;
  border-left: solid 4px $error-color;
  border-right: solid 4px $error-color;
  color: $error-color !important;
  background-color: #ffe1e1;
  &:hover {
    background: $error-color;
    color: #FFF !important;
  }
}