| Memorizer

| 下記のリンクから#{@user.name}様のアカウントのパスワードを再設定していただけます。<br>
| このリンクは2時間で無効となります。
| もしパスワードを変更されない場合は、このメールは破棄していただいて構いません。

| パスワードを再設定する
= edit_password_reset_url(@user.reset_token, email: @user.email)
