@import 'BEM/mixin';

#consulted-words {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 7px;
}
.consulted-word-li {
  margin-right: 10px;
  padding: 4px 0;
  a {
    cursor: pointer;
    text-decoration: none;
    &:not(.fa-times) {
      padding: 2px 5px;
      margin-right: 2px;
      border-radius: 3px;
      border: 2px solid $thesaurus-color;
      &:not(.active-word) {
        color: $thesaurus-color;
        transition: 0.4s;
        &:hover {
          background-color: $thesaurus-color;
          color: #FFF;
        }
        &:active {
          background-color: lighten($thesaurus-color, 30%);
        }
      }
    }
  }
  .active-word {
    background-color: $thesaurus-color;
    color: #FFF;
    cursor: default;  
  }
  .remove-word-btn {
    color: #999;
  }
}
