| $('#flash-box').html('<div class="flash__notice">#{@message}</div>');
| $('#flash-box').fadeIn();
| setTimeout("$('#flash-box').fadeOut('slow')", 1800);
| $('.show_till_next').text('次の復習まで: #{@learned_content.till_next_review > 0 ? @learned_content.till_next_review : 0} 日');
