| $('#flash-box').html('<div class="flash__notice">#{@message}</div>');
| $('#flash-box').fadeIn();
| setTimeout("$('#flash-box').fadeOut('slow')", 1800);
- if @learned_content.completed?
  | $('.till-next-day').text('You have learned this word completely!');
- else
  | $('.till-next-day').text('Until next review: #{till_next_day(@learned_content.till_next_review)}');
