| $('#loading').hide();
| $('.question-container__submit').html('#{escape_javascript(render 'answer_links')}');
| $('#flash-box').html('<div class="flash__notice">#{@message}</div>');
| $('#flash-box').fadeIn();
| setTimeout("$('#flash-box').fadeOut('slow')", 2400);
