@import 'BEM/mixin';

.home-calendar {
  @include white-box;
  margin-bottom: 20px;
  &__show {
    @include white-box;
    padding: 12px 20px 5px;
    max-height: 406px;
    overflow-y: scroll;
    margin-top: 25px;
    position: relative;
  }
  &__show-box {
    margin-bottom: 8px;
    h3 {
      margin-bottom: 5px;
      font-size: 16px;
    }
    ul {
      padding-left: 2px;
    }
    li {
      @include text-overflow;
      line-height: 1.4;
    }
  }
  &__show-heading {
    font-size: 19px;
    margin-bottom: 5px;
  }
}