| $('#template-edit').html('#{escape_javascript(render 'learn_templates/learn_template')}');
| $('#flash-box').html('<div class="flash__notice">#{@message}</div>');
| $('#flash-box').fadeIn();
| setTimeout("$('#flash-box').fadeOut('slow')", 2400);
