| $('#set-user-skill, #no-click-overlay').remove();
| $('#flash-box').html('<div class="flash__notice">#{@message}</div>');
| $('#flash-box').fadeIn();
| setTimeout("$('#flash-box').fadeOut('slow')", 1800);
