| $('#user-info').html('#{escape_javascript(render('user_info'))}');
| $('.my-page-container__original').hide();
| $('.my-page-container__form').show();
| $('.field_with_errors').eq(0).find('input').focus();
| $('.my-page-container__edit-btn').hide();
| $('.my-page-container__cancel-btn').show();
| $('.my-page-container__submit-btn').show();
