= link_to " #{@word}を学習", new_learn_path(default_word: @word), class: 'btn-with-default fa fa-edit'
= link_to " あとで学習", later_lists_path(params: { later_list: { word: @word } }, sub_type: @sub_type), method: :post, remote: true, class: 'bookmark-default fa fa-bookmark'
