.learn-grid-container {
  display: flex;
  &__webster {
    width: 50%;
    min-height: 700px;
    padding: 0 10px;
  }
  &__right {
    width: 50%;
  }
  &__pixabay {
    background-color: skyblue;
    max-height: 240px;
  }
  &__study {
    position: relative;
  }
  &__edit-icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px!important;
  }
  &__study-field {
    min-height: 450px;
    max-height: 460px;
    overflow-y: scroll;
    border-radius: 3px;
    background-color: #FFF;
    padding: 18px 10px 10px 10px;
  }
  &__select {
    padding-bottom: 15px;
    padding-left: 26px;
    label {
      padding-right: 8px;
    }
  }
  &__saved-images {
    max-height: 110px;
    overflow-y: scroll;
  }
  &__question {
  }
  &__question-label {
    display: block;
  }
  &__question-area {
    width: 100%;
    margin-bottom: 8px;
    padding: 5px 12px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #bbb;
    font-size: 14px;
  }
  &__answer-field {
    width: 100%;
    padding: 4px 12px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #bbb;
    font-size: 14px;
  }
  &__category {
    padding-left: 20px;
    padding-top: 10px;
    select {
      font-size: 14px;
      margin-left: 5px;
    }
  }
  &__public {
    padding-left: 20px;
    padding-top: 10px;
    input[type=radio] {
      margin-right: 3px;
    }
    label {
      margin-right: 10px;
    }
  }
}
#images-result {
  max-height: 200px;
  overflow-y: scroll;
}
.main-word-select {
  min-width: 110px;
  font-size: 14px;
}