| $('#later-list-modal').html('#{escape_javascript(render 'shared/later_list')}');
- unless @sub_type == 'always'
  | $('#later_list_word').focus();
  | $('#later-list-modal').append('<div id="later-overlay">');
