/ apendすることで、消しても残る
| if (!$('#always-modal').length) {
|   $('body').append('#{escape_javascript(render 'shared/always_dictionary')}');
| }
| $('#always-modal, #overlay').fadeIn();
| $('#word').focus();
