h1 Homes#top

p 本日の復習数: <span>#{reviewed_count_today} 残り:#{contents_to_review_today}</span>
p 本日の新規学習数: <span>#{learned_contents_today}</span>

#calendar

#calendar-modal

/ clendar-modal表示用のリンク
#hidden-link.hidden
