$theme-color: #197fd8;
$error-color: #e75252;
$dictionary-color: #E7F5F5;
$thesaurus-color: #497C95;

$breakpoints: (
  'sm': 'screen and (max-width: 479px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 1199px)',
) !default;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, p, span, li, label {
  color: #3e3e3e;
}
a {
  color: $theme-color;
  cursor: pointer;
  &:visited {
    color: $theme-color;
  }
}
.fa-times {
  color: #999;
  text-decoration: none;
}
input {
  border: 1px solid #999;
}
label, input[type='checkbox'] {
  cursor: pointer;
}
select {
  outline: none;
  cursor: pointer;
}
body {
  font-family: 'Times New Roman', 'Noto Sans JP', sans-serif;
}
button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}
li {
  list-style: none;
}
p {
  line-height: 1.4;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
.field_with_errors {
  display: inline-block;
  input {
    border-color: #e75252;
  }
}
#learned_content_content li {
  list-style: inherit;
}
.overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 120%;
  width: 100%;
  cursor: pointer;
}
#reset-overlay, #later-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}
#no-click-overlay {
  cursor: not-allowed;
}
.dictionary-field, .thesaurus-field {
  max-width: 550px;
  li {
    margin-left: 20px;
  }
  li::before {
    content: '\2022';
    color: #76cfcf;
    font-size: 0.8em;
    padding: 0 10px 0 0;
    text-shadow: 1px 1px 2px black;
  }
  p, span, li {
    font-size: 16px;
    line-height: 1.2em;
  }
  ul {
    margin-bottom: 12px;
    padding-left: 25px;
    li {
      margin-bottom: 5px;
    }
  }
  p {
    padding: 6px;
  }
}
.gray {
  color: gray;
}
.word-class {
  font-style: italic;
  color: orange;
}
.italic {
  font-style: italic;
}
.upcase {
  text-transform: uppercase;
}
.audio-button {
  color: #D40218;
  cursor: pointer;
}
.more_lists, .hide_lists {
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.hidden {
  display: none;
}
.disabled-btn {
  opacity: 0.5;
  cursor: not-allowed!important;
  &:hover {
    cursor: not-allowed!important;
  }
}
.transparent-logo {
  opacity: 0.5;
}
#loading, #searching {
  display: none;
  position: fixed;
  top: 70px;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  padding: 12px 25px;
  border-radius: 5px;
  background-color: rgb(163, 238, 144);
}
