| $('#images-result').html('');
- if @images_error_status
  | $('#images-result').append("<p>通信エラー:#{@images_error_status}が発生しました。画像が取得できませんでした。</p>")
- elsif @images_data
  - if @images_data['totalHits'] == 0
    | $('#images-result').append("<p>\"#{@word}\"に関連する画像は0件でした。</p>")
  - else
    - @images_data['hits']&.each_with_index do |hit, index|
      | $('#images-result').append("<span><a class='pixabay-image' data-index='image_#{@word}_#{index}' data-word='#{@word}' href='#{hit["largeImageURL"]}' target='_blank' rel=”noopener”><img class='thumbnail-image' src='#{hit["previewURL"]}' alt='image of #{@word}'></a><a class='image-save-btn far fa-star'></a></span>");
