.answer-box {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  %__ans {
    background-color: #F9FBFE;
    width: 42%;
    border-radius: 3px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    padding: 6px;
  }
  &__ans {
    @extend %__ans;
    border: 1px solid #32cd32;
    &--my {
      @extend %__ans;
      border: 1px solid $theme-color;
    }
  }
  &__heading {
    padding-bottom: 5px;
    font-size: 16px;
  }
  &__between {
    width: 14%;
    height: 14px;
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
    position: relative;
  }
  %__similarity {
    display: inline-block;
    width: 65px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    background-color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  &__similarity {
    &--blue {
      @extend %__similarity;
      color: $theme-color;
    }
    &--black {
      @extend %__similarity;
    }
    &--red {
      @extend %__similarity;
      color: $error-color;
    }
  }
}