%__study {
  width: 50%;
  position: relative;
  @include white-box;
  padding: 5px;
  height: 650px;
  overflow-y: scroll;
  margin-bottom: 15px;
}
.learn-grid-container {
  display: flex;
  &__show {
    display: flex;
    margin-top: 25px;
  }
  &__webster {
    width: 50%;
    padding: 0 5px;
    margin-bottom: 15px;
  }
  &__pixabay {
    @include white-box;
    padding: 10px;
    position: relative;
    min-height: 45px;
    .pixabay-btn {
      text-align: center;
      margin-bottom: 12px;
    }
    #pixabay-link {
      @include submit-btn;
      font-size: 16px;
    }
    .pixabay-logo {
      height: 24px;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  &__study {
    @extend %__study;
    &--show {
      @extend %__study;
      padding-top: 2px;
    }
  }
  &__edit-icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px!important;
    color: $thesaurus-color;
  }
  &__study-field {
    border-radius: 3px;
    background-color: #FFF;
    padding: 14px 10px 10px 10px;
  }
  &__select {
    padding-bottom: 15px;
    text-align: center;
    label {
      padding-right: 8px;
    }
    select {
      outline:none;
      cursor: pointer;
    }
  }
  &__trix-area {
    border-radius: 3px;
    border: 1px solid $thesaurus-color;
    padding: 10px;
    background-color: #F9FBFE;
  }
  &__saved-images {
    margin: 14px 0 8px;
    .saved-image {
      padding: 0 3px 8px 0;
      display: inline-block;
    }
    .image-unsave-times {
      font-size: 18px;
      padding-left: 2px;
    }
  }
  &__question {
    margin-bottom: 20px;
    position: relative;
    padding-top: 10px;
    padding: 10px;
    background-color: #F9FBFE;
    border-radius: 3px;
    border: 1px solid $thesaurus-color;
  }
  .remove-question-box {
    float: right;
    margin-top: 5px;
    cursor: pointer;
  }
  .add-next-box {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
    i {
      font-size: 12px;
      margin-right: 3px;
    }
  }
  &__quick-question {
    position: absolute;
    top: 6px;
    right: 11px;
    font-size: 14px;
    cursor: pointer;
  }
  &__question-area {
    width: 100%;
    margin-bottom: 8px;
    padding: 5px 12px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #bbb;
    font-size: 16px;
  }
  &__answer-field {
    width: 100%;
    padding: 4px 12px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #bbb;
    font-size: 16px;
  }
  &__subtle {
    padding: 5px 0 15px;
    display: flex;
    justify-content: space-evenly;
  }
  &__category {
    select {
      font-size: 14px;
      margin-left: 5px;
    }
  }
  &__public {
    input[type=radio] {
      margin-right: 3px;
      cursor: pointer;
    }
    label {
      margin-right: 10px;
    }
  }
  &__submit {
    text-align: center;
    padding: 10px 0 15px;
    input {
      @include submit-btn;
      font-size: 16px;
      padding: 5px 11px;
    }
  }
  &__main-word {
    text-align: center;
  }
  &__main-word-show {
    font-size: 18px;
    margin-bottom: 5px;
    display: inline-block;
  }
  &__trix-content {
    @include white-box;
    padding-top: 5px;
    margin-top: 2px;
    background-color: #F9FBFE;
    max-height: 260px;
    overflow-y: scroll;
    margin-bottom: 15px;
  }
  &__saved-images--show {
    margin: 10px 0;
  }
  &__saved-image {
    display: inline-block;
    padding: 0 8px 8px 0;
    img {
      height: 110px;
      cursor: zoom-in;
    }
  }
  &__question--show {
    @include white-box;
    background-color: #F9FBFE;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    max-height: 185px;
    overflow-y: scroll;
    h3 {
      font-size: 16px;
    }
  }
  &__to-question {
    text-align: right;
  }
  &__answer-show {
    padding: 5px 0 10px;
    text-align: right;
  }
  &__edit-links {
    text-align: right;
    padding-top: 15px;
  }
  &__back-btn {
    @include submit-btn;
  }
  &__error-hide {
    display: inline-block;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 7px;
  }
}

#images-result {
  max-height: 320px;
  overflow-y: scroll;
  padding: 0 10px;
  > span {
    display: inline-block;
    padding-right: 8px;
    padding-bottom: 8px;
  }
  .image-save-btn {
    color: #888;
    font-size: 18px;
  }
  .image-unsave-star {
    color: rgb(245, 220, 0);
    font-size: 18px;
  }
}
.main-word-select {
  min-width: 110px;
  font-size: 14px;
}