.password-reset {
  width: 350px;
  padding: 10px 45px;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #FFF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  &__heading {
    font-size: 20px;
  }
  &__form {
    margin: 15px 0;
    input {
      width: 100%;
      padding: 3px;
    }
  }
  &__submit {
    text-align: center;
    input {
      @include submit-btn;
    }
  }
  &__edit {
    width: 350px;
    margin: 20px auto;
    @include white-box;
    padding: 10px 20px;
    .field_with_errors {
      width: 100%;
    }
  }
  &__edit-heading {
    font-size: 24px;
    margin-bottom: 15px;
  }
  &__edit-form {
    margin-bottom: 10px;
    input {
      width: 100%;
      padding: 3px;
    }
  }
  &__edit-submit {
    text-align: center;
    input {
      @include submit-btn;
    }
  }
}