.question-box {
  @include white-box;
  margin-bottom: 20px;
  position: relative;
  &:nth-last-of-type(1) {
    margin-bottom: 0;
  }
  &__heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  &__field {
    @include text-field;
    width: 400px;
    margin-left: 5px;
  }
  &__answer {
    text-align: right;
    margin-top: 10px;
  }
  &__hint-link {
    position: absolute;
    top: 6px;
    right: 10px;
    cursor: pointer;
  }
  &__hint {
    text-align: right;
  }
}
