@import 'BEM/mixin';
@import 'application';

.community-ranking-container {
  width: 70%;
  margin:20px auto;
  &__heading {
  }
  &__table {
    @include table;
    margin-top: 10px;
  }
  &__word-heading {
    display: inline-block;
    margin-right: 15px;
    margin-top: 14px;
  }
  &__word-form {
    display: inline-block;
    select {
      height: 28px;
    }
  }
  &__my-tr {
    background-color: rgb(255, 255, 80);
    td {
      box-shadow: none;
    }
  }
}