.community-ranking-container {
  width: 70%;
  margin:20px auto;
  @include mq() {
    width: 100%;
    margin-top: 5px;
  }
  &__heading {
    margin-top: 20px;
    @include mq() {
      margin-top: 5px;
    }
  }
  &__heading-top {
    display: inline-block;
    margin: 0 30px 10px 0;
    @include mq() {
      font-size: 26px;
    }
  }
  &__heading-text {
    display: inline-block;
  }
  &__table {
    @include table;
    margin-top: 10px;
  }
  &__word-heading {
    display: inline-block;
    margin-right: 15px;
    margin-top: 14px;
  }
  &__word-form {
    display: inline-block;
    select {
      height: 28px;
      padding: 0 10px;
    }
  }
  &__my-tr {
    background-color: rgb(255, 255, 80);
    td {
      box-shadow: none;
    }
  }
}