.header-right {
  line-height: 52px;
  position: fixed;
  top: 3px;
  right: 10%;
  display: block;
  z-index: 2;
  @include mq() {
    display: none;
    width: 100%;
    left: 0px;
    height: 52px;
    text-align: right;
    padding-right: 32px;
    background-color: #FFF;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.3));
  }
  &__list {
    margin-left: 5px;
    position: relative;
    float: left;
    @include mq() {
      display: inline-block;
      float: unset;
    }
  }
  &__envelope {
    @include header-btn;
    padding-left: 15px;
    text-decoration: none;
    i {
      margin-right: 2px;
    }
  }
  &__new-link {
    @include header-btn;
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 12px;
  }
  &__toggler {
    &--community {
      @include header-btn;
      padding-left: 15px;
    }
    &--user {
      font-size: 14px;
      text-decoration: none;
      @include header-btn;
    }
  }
  &__guest-link {
    @include header-btn;
    text-decoration: none;
  }
  .fa-caret-down {
    margin-left: 3px;
  }
}
.community-menu {
  @include header-drop;
  left: -24px;
  &__list {
    text-align: left;
  }
}
.user-menu {
  @include header-drop;
  left: 0;
  right: 0;
  margin: auto;
  &__list {
    text-align: left;
  }
}
