.header {
  height: 52px;
  width: 100%;
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.3));
  position: fixed;
  z-index: 2;
  background-color: #FFF;
  @include mq() {
    position: static;
  }
  &__menu {
    display: none!important;
    position: fixed;
    z-index: 4;
    top: 15px;
    right: 13px;
    font-size: 24px;
    @include mq() {
      display: inline-block!important;
    }
  }
}
