.login-icon {
  display: flex;
  justify-content: space-between;
  padding-top: 25px; 
  %__btn {
    display: inline-block;
    width: 80px;
    height: 38px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    border-radius: 3px;
    &:hover {
      opacity: 0.9;
    }
  }
  &__btn {
    &--twitter {
      @extend %__btn;
      background-color: #55ACEE;
    }
    &--google {
      @extend %__btn;
      background-color: #DD4B39;
    }
    &--facebook {
      @extend %__btn;
      background-color: #4C5A9C;
    }
  }
}