.my-questions-container {
  margin: 20px 0;
  &__search {
    margin-top: 10px;
    select {
      width: 135px;
      height: 28px;
    }
  }
  &__category-label {
    margin-right: 10px;
  }
  &__search-label {
    margin-right: 55px;
  }
  &__search-form {
    padding: 1px 5px;
    width: 160px;
  }
  &__search-submit {
    padding: 1.8px 2.5px;
    cursor: pointer;
    &:hover {
      opacity: 80%;
    }
    i {
      color: $theme-color;
    }
  }
  &__search-div {
    margin-top: 5px;
  }
}

// q-w-togglerç”¨
#question-table-area {
  position: relative;
}
