%q-w-toggler {
  @include submit-btn;
  border: none;
  padding: 4px;
  font-size: 12px;
}
.q-w-toggler {
  @extend %q-w-toggler;
  &__ul {
    position: relative;
  }
  &__top {
    @extend %q-w-toggler;
    position: absolute;
    right: 8px;
    top: -24px;
  }
}
