.question-table {
  @include table;
  margin-top: 10px;
  &__question {
    width: 530px;
    @include text-overflow;
    padding: 0 10px;
    text-align: left;
    @include mq() {
      width: 280px;
    }
    @include mq(sm) {
      width: 100px;
    }
  }
  &__question-td {
    width: 530px;
    @include mq() {
      width: 280px;
    }
    @include mq(sm) {
      width: 100px;
    }
  }
}