.release-note {
  width: 60%;
  margin: 0 auto;
  @include mq() {
    width: 100%;
  }
  &__heading {
    margin: 20px 0;
    @include mq() {
      margin: 8px 0 12px;
      font-size: 26px;
    }
  }
  &__table {
    @include table;
    th, td {
      padding-top: 9px !important;
      padding-bottom: 9px !important;
    }
  }
  &__modal {
    width: 550px;
    padding: 20px 45px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    @include mq() {
      width: 90%;
      padding: 15px 10px;
    }
  }
  &__show-ul {
    margin: 10px 0;
  }
  &__content {
    @include white-box;
    padding: 8px;
    background-color: #F9FBFE;
    margin: 10px 0;
    max-height: 350px;
    overflow-y: scroll;
  }
}
