.trix-content {
  li {
    list-style: inherit;
    margin-left: 30px!important;
  }
}
.trix-button--icon-attach {
  display: none;
}
.trix-button {
  padding-left: 0!important;
  padding-right: 0!important;
  width: 36px!important;
}
.trix-button-group {
  margin: 0!important;
  margin-bottom: 5px!important;
}
.trix-button-group-spacer {
  display: none!important;
}
.trix-button-group--file-tools {
  display: none!important;
}
.trix-button {
  @include mq() {
    font-size: 13px!important;
  }
}
