/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
 @import 'fullcalendar';

 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
  }
  header, footer {
    li {
       list-style: none;
    }
  }
 #overlay {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 120%;
  width: 100%;
 }

 .dictionary-field, .thesaurus-field {
  max-width: 550px;
  li {
    list-style: disc;
    margin-left: 20px;
  }
  p, span, li {
    font-size: 16px;
    line-height: 1.2em;
  }
  ul {
    margin-bottom: 12px;
    padding-left: 25px;
    li {
      margin-bottom: 5px;
    }
  }
  p {
    padding: 6px;
  }
}
.gray {
  color: gray;
}
.word-class {
  font-style: italic;
  color: orange;
}
.italic {
  font-style: italic;
}
.upcase {
  text-transform: uppercase;
}
.audio-button {
  color: #D40218;
  cursor: pointer;
}
.more_lists, .hide_lists {
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.dictionary_box, .thesaurus_box {
  max-height: 620px;
  overflow-y: scroll;
}
.dictionary-word-tab, .thesaurus-word-tab {
  cursor: pointer;
  background-color: #ddd;
  border-radius: 3px;
  padding: 3px;
  margin-right: 5px;
}
.webster-toggler {
  a {
    cursor: pointer;
    background-color: #ddd;
    border-radius: 3px;
    padding: 3px;
    margin-right: 1px;
  }
}
.thesaurus-word-lists {
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  &::-webkit-scrollbar {
    display: none;
  }
}

.hidden {
  display: none;
}

.trix-button--icon-attach {
  display: none;
}
.trix-button {
  padding-left: 0!important;
  padding-right: 0!important;
  width: 36px!important;
}
.trix-button-group {
  margin: 0!important;
  margin-bottom: 5px!important;
}
.trix-button-group-spacer {
  display: none!important;
}
.trix-button-group--file-tools {
  display: none!important;
}