- provide(:contact_url, admin_user_contacts_path(@user))
- provide(:admin_view, 'admin')

h1 #{@user.name}さんの詳細

#contact-list
  = render 'contacts/contacts'

#contact-form
  = render 'contacts/contact_form'
