| $('#question-search').html('#{escape_javascript(render 'community_search', url: communities_questions_path)}');
| $('#community-questions-table').html('#{escape_javascript(render 'community_questions_table')}');
