| $('#community-words-table').html('#{escape_javascript(render 'community_words_table')}');

| $('.words-table-link').click(function() {
|   var $word = $(this).text();
|   var $wordTag = $(`.consulted-word-${$word}`);
|   if ($wordTag.length) {
|     if (!$wordTag.hasClass('active-word')) {
|       $wordTag[0].click();
|     }
|     return false;
|   }
| });
