@import '../mixin';
.question-container {
  width: 60%;
  margin: 0 auto;
  &__question-num {
    text-align: right;
    padding-bottom: 2px;
  }
  &__exit {
    text-align: right;
  }
  &__submit {
    margin: 20px 0;
    text-align: center;
  }
  &__btn {
    @include submit-btn;
    &--review {
      @include submit-btn;
      font-size: 18px;
    }
    &--next {
      @include submit-btn;
      float: right;
      margin-top: 11px;
    }
  }
  &__icon {
    padding-right: 8px;
    font-size: 14px;
  }
  &__links {
    text-align: right;
    margin: 10px 0;
  }
}