@import 'BEM/mixin';

#default-word-link {
  margin: 10px 0;
  .btn-with-default {
    @include submit-btn;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;
  }
  .bookmark-default {
    @include submit-btn;
    padding-left: 8px;
    padding-right: 8px;
  }
}